body{
  margin: 0 auto;
  width: 98%;
  padding: 10px;
}
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.top{
  margin: 1%;
}
.groupList{
  margin-bottom: 10px;
  text-align: center;
}
.group{
  display: inline-block;
  margin: auto;
  width: auto;
  padding: 10px;
  vertical-align: top;
}
